{% include "../layout/header.html" %}

<div><a href="{% url 'create_post' %}" style="color: white;">Создать статейку</a></div>

<h2>Список статей</h2>

{% for post in posts %}
    <div style="display: flex; justify-content: center;">
        <div class="card_post" style="background-color: #333; width: 80%; margin-top: 10px; border-radius: 10px;">
        <h3><a href="{% url 'post_detail' post.id %}" style="color: white; text-decoration: none;">{{ post.title }}</a></h3>
        </div>
    </div>
{% empty %}
    <div>Нет статей.</div>
{% endfor %}

{% include "../layout/footer.html" %}